*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: none;
}

body{
    z-index: -2;
    background-image: url('../Images/back4.svg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
}
.aside{
    z-index: -1;
    background: linear-gradient(135deg, rgb(19, 1, 53), rgba(17, 16, 16, 0.514));
    margin: 0.5%;
    padding-left: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    display: flex;
    float: left;
    border-radius: 3px;
    min-height: 98vh;
    width: 13%;
    overflow-y: none;
    

}
.aside p{
    z-index: 0;
    margin-top: 15%;
    margin-bottom: 3%;
    margin-left:0% ;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3vw;
    float: left;
    color: #fff;
    
}
.list{
    display: inline;
}
.list li {
    z-index: 0;
    list-style-type: none;
    margin-top: 30%;
    padding-top: 12%;
    margin-left: 1%;
    padding-left: 1vw;
    padding-bottom: 22%;
    text-align:left;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    width: 11.7vw;
    font-size: 1.1vw;
    float: left;
    color: #fff;
 
}
.aside ul li:hover{
    background-color: rgb(76, 12, 129);
    transition: ease-in-out 0.5s;
    color: #ce84f3;
    transform: scale(1.05);
}
.nav{
    color: #fff;
    text-decoration: none;
}
#dashboard{
    background: linear-gradient( 45deg, rgba(98, 4, 160, 0.5), rgba(23, 3, 61, 0.5));
}
.header{
    background: linear-gradient(135deg, rgb(19, 1, 53), rgba(17, 16, 16, 0.514));
    margin: 1vh;
    border-radius: 3px;
    display: flexbox;
    float: right;
    margin: 1vh;
    padding: 2vh;
    min-width: 81vw;
    align-content: center;
    color: #fff;
    position:static;
    
}
.header form input{
    float: right;
    display: inline-flex;
    margin-right: 5px;
    margin-top: -5vh;
    background: transparent;
    width: 15vw;
    height: 5vh;
    border:2px solid rgb(76, 12, 129);
    border-radius: 5px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.header form input:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}
.header form input::placeholder{
    color: rgb(76, 12, 129);
    text-align: center;
}
.header h2{
    margin: 0.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.6vw;
    padding-left: 20px;
    width: 40%;
    position: relative;
}
.numbers{
    background: linear-gradient(135deg, rgb(19, 1, 53), rgba(17, 16, 16, 0.514));
    display: flexbox;
    float: right;
    margin-top: 6vh;
    margin-right: 2vw;
    padding: 0.9vw;
    border-radius: 2ch;
    min-width: 77.5vw;
    min-height: 1vh;
    color: #fff;
    position: relative;
    flex-direction: column;
}

.pic{
    display: flex;
    float: left;
    max-width: 16vw;
    margin-left: -3vw;
    margin-top: 2vh;
}

.writing{
    display: block;
    float: left;
    margin-top: 7%;
    margin-left:-2vw ;
    margin-bottom: 0vh;
    font-family: cursive;
    font-size: small;
}

.income{
    display: block;
    float: left;
}
.income img{
    margin-top: -1vh;
}
.income p{
    color: #ce84f3;
}

.table{
    background: linear-gradient(135deg, rgb(19, 1, 53), rgba(17, 16, 16, 0.514));
    display: table;
    float: right;
    margin: 4vh;
    padding: 2vw;
    border-radius: 5px;
    min-width: 30vw;
    max-width: 85vw;
    color: #fff;
    overflow: none;
}

.heading{
    margin-right: 40vw;
    display: inline;
    float: left;
    min-width: 7vw;
}

.search{
    display: block;
    float: right;
    width: 5vw;
    height: 5vw;

}

.tabs{
    padding: 1vw;
    display: table;
    text-align: left;
}

tr th{
    padding: 2vw;
    border: 1px, solid black;
}

tr td{
    padding: 2vw;
    border: 1px solid black;

}

select:d{
    background-color: red;
}