*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.bgp{
    background-color:#000338;
    display: flex;
    min-height: 100vh;
    padding: 0%;
    transition: ease-in-out 0.5s;
}

.side-pane{
    margin: 0px;
    background-image: url("../Images/—Pngtree—blue\ technology\ background\ with\ a_16440450\(1\).png");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 60%;
    min-height: 100%;
    display: block;
    align-content: center;
    align-items: center;
    padding: 5%;
}


.main_block{
    background-color: #0B132B;
    margin:auto;
    padding:0%;
    max-width: fit-content;
    border-radius: 15px;
    align-self: center;
    align-content: center;
    justify-content: center;
    float: left;
    box-sizing:border-box;
}

.head{
    display: block;
    padding-top: 15%;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    text-align: center;
    color: #E2E8F0
}

.input{
    display: block;
    float: left;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
    margin-left: 2.5vw;
    margin-right: 5.2vw;
    min-width: 15vw;
    max-width: 100%;

}
.input input{
    background-color: transparent;
    display: block;
    min-width: 30%;
    max-width: 100%;
    margin-left: 1.1vw;
    margin-bottom: 15%;
    padding: 8%;
    align-items: center;
    justify-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: #E2E8F0;
    transition: ease-in-out 0.8s;
}

.input input:hover{
     transform: scale(1.04);
}
.input input:focus{
    outline: none;
    border-bottom: 2px solid #E2E8F0;
    transition: ease-in-out 0.5s;
}

button{
    border: 1px;
    border-radius: 5px;
    background-color:#06B6D4;
    color: #E2E8F0;
    margin-left: 1.1vw;
    margin-right: 0vw;
    margin-top: 5%;
    margin-bottom: 5vh;
    padding: 5%;
    display: block;
    float: left;
    align-self: center;
    justify-self: center;
    min-width: 100%;
    
}
button:hover{
   
   background-color: #E2E8F0;
   color: #0B132B;
   transform: scale(1.04);
}

.text{
    display: block;
    float: auto;
    justify-content: center;
    margin: 9px;
    padding-top: 30%;
    padding-bottom: 18%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E2E8F0;;
    font-size: small;
    text-align: center;

}
.text p{
    padding: 2%;
}

.text p a{
    text-decoration: none;
    color: rgb(99, 99, 212);
}
.text p a:hover{
    color: #06B6D4;
    transition: ease-in-out 0.5s;;
}